<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicon -->
    <link href="../static/assets/img/financial-profit.png" rel="icon"> 
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">    
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
    
    <title>GRQ-Dashboard</title>
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/financial-profit.png" alt="">
            <span class="d-none d-lg-block">Get Rich Quick</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="bi bi-search"></i>
            </a>
            </li><!-- End Search Icon-->

            <a class="dropdown-toggle nav-link nav-profile d-flex align-items-center pe-4 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../static/assets/img/richie_logo.jpg" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block ps-2">Richie</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                    <h6>Richie</h6>
                    <span>Test User</span>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-gear"></i>
                        <span>Account Settings</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul><!-- End Profile Dropdown Items -->
    


        </ul>
        </nav><!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <div class="row">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-1">Reliance Industries</a>
                  <a class="nav-link" href="#item-3">Results</a>
                  <a class="nav-link" href="#item-4">News</a>
                </nav>
              </nav>
            </div>
    </aside>
    <!-- End Sidebar-->

    <!-- Main -->
    <main id="main" class="main">
        <div class="row">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                    <!-- Stock Information -->
                    <div class="card overflow-auto p-4">
                        <h1 style="font-weight: bold;">Reliance Industries Ltd</h1>
                        <div class="row">
                            <div class="col-xxl-2" style="font-weight: 800; color: blue; font-size: larger;"><a href="https://www.ril.com/"> ril.com</a></div>
                            <div class="col-xxl-2" style="font-weight: 800; font-size: larger;"> BSE: 500325</div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-8 border rounded-2 mt-4">
                                <table class="table table-borderless">
                                      <tbody>
                                        <tr>
                                          <td>Market Cap</td>
                                          <td id="analysis-table-data-value">{{MarketCap}}</td>
                                          <td>Current Price</td>
                                          <td id="analysis-table-data-value">{{CurrentPrice}}</td>
                                          <td>High</td>
                                          <td id="analysis-table-data-value">{{HighLow}}</td>
                                        </tr>
                                        <tr>
                                          <td>Stock P/E</td>
                                          <td id="analysis-table-data-value">{{StockPE}}</td>
                                          <td>Book Value</td>
                                          <td id="analysis-table-data-value">{{BookValue}}</td>
                                          <td>Dividend Yield</td>
                                          <td id="analysis-table-data-value">{{DividendYield}}</td>
                                        </tr>
                                        <tr>
                                          <td>ROCE</td>
                                          <td id="analysis-table-data-value">{{ROCE}}</td>
                                          <td>ROE</td>
                                          <td id="analysis-table-data-value">{{ROE}}</td>
                                          <td>Face Value</td>
                                          <td id="analysis-table-data-value">{{FaceValue}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xxl-4 ps-4 pt-4">
                                <h4 style="font-weight: 600;">About</h4>
                                <p class="pb-0 mb-0" style=" font-weight: 400;width: fit-content; overflow: hidden; height: 8ch;" id="increase-size-paragraph">Reliance Industries Limited is a Fortune 500 company and the largest private sector corporation in India. It has evolved from being a textiles and polyester company to an integrated player across energy, materials, retail, entertainment and digital services. Reliance's products and services portfolio touches almost all Indians on a daily basis, across economic and social spectrums. [1]

                                    Reliance was founded by Dhirubhai Ambani and is now promoted and managed by his elder son, Mukesh Dhirubhai Ambani. Ambani's family have about 50% shareholding in the conglomerate
                                </p>
                                <script>
                                    var count = 0;
                                    function sizeIncrease() {
                                        if (count == 0){
                                            document.getElementById('increase-size-paragraph').style.height = 'fit-content';
                                            document.getElementById('increase-size-span').innerHTML = '-less';
                                            count = 1;
                                        }else {
                                            document.getElementById('increase-size-paragraph').style.height = '8ch';
                                            document.getElementById('increase-size-span').innerHTML = '+more';
                                            count = 0;
                                        }
                                    }
                                </script>
                                <span><button class="btn p-0 m-0" style="background: none;border: none;font-weight: 600;text-decoration: underline;" onclick="sizeIncrease()" id="increase-size-span">+more</button></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-2">
                    <div class="row">
                        <!-- Reports -->
                        <div class="col-12 ">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Reports <span>/Today</span></h5>
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div id="tradingview_8289d" class="reports" style="max-height: 500px;"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget(
                                {
                                "autosize": true,
                                "symbol": "BSE:RELIANCE",
                                "interval": "1D",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "1",
                                "locale": "in",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "hide_top_toolbar": false,
                                "save_image": false,
                                "allow_symbol_change": true,
                                "container_id": "tradingview_8289d"
                            }
                                );
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                            
                            </div>
                        </div>
                    </div><!-- End Reports -->
                </div>
                <div id="item-3">
                    <div class="card overflow-auto p-4">
                        <div class="row align-items-stretch g-4 ">
                            <div class="col-lg-8">
                                <h1>Our Analysis</h1>
                                <h5>Suggested Action: BUY</h5>
                                <p>According to our AI Model the best action you can take is to BUY more stocks of Reliance for future gains.<br>If You have not purchased the stock till now this is the best time to invest in this.You can buy it now for great gains in the future<br>
                                Please see our other analysis such as statistical analysis as well as news review to make up your mind. Do not follow our advice blindly</p>
                            </div>
                            <div class="col-lg-4">
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                                    {
                                    "interval": "1D",
                                    "width": 390,
                                    "isTransparent": false,
                                    "height": 420,
                                    "symbol": "BSE:RELIANCE",
                                    "showIntervalTabs": true,
                                    "locale": "in",
                                    "colorTheme": "light"
                                }
                                    </script>
                                </div>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                    <div class="card overflow-auto p-4">
                        <div class="row align-items-stretch g-4 ">
                            <div class="col-lg-7">
                                <h1>Todays News Analysis(<a href="https://economictimes.indiatimes.com/markets/stocks/news/mcap-of-8-of-top-10-valued-firms-soars-rs-1-26-lakh-cr-reliance-hindustan-unilever-shines/articleshow/100224330.cms">Click Here to read the news</a>)</h1>                                
                                <ul>
                                    <li>Sentiment Analysis: Positive</li>
                                    <li>Score: 8/10</li>
                                    <li>Stocks Affected: Reliance, Hindustan Unilever</li>
                                </ul>
                                <p style=" font-weight: 400;width: fit-content; overflow: hidden; height: 8ch;" id="increase-size-1-paragraph">    
                                    The news indicates that the market capitalization of eight out of the top ten valued firms has increased by Rs 1.26 lakh crore. Specifically, Reliance and Hindustan Unilever are highlighted as shining in this context.
                                    The sentiment analysis of this news suggests a positive sentiment. The significant increase in the market capitalization of the top valued firms indicates a positive market trend. The rise in market capitalization reflects investor confidence and indicates that these companies are performing well.
                                    Reliance and Hindustan Unilever are mentioned specifically in the news as shining, suggesting that these stocks might have experienced significant gains. However, without additional information or data, it is challenging to provide a precise analysis of the impact on their stock prices.
                                    It's important to note that sentiment analysis is based on the given news snippet alone and does not consider other market factors or long-term trends. Therefore, it's always recommended to conduct comprehensive research and analysis before making any investment decisions.
                                </p>
                                    <span><button class="btn p-0 m-0" style="background: none;border: none;font-weight: 600;text-decoration: underline;" onclick="sizeIncrease()" id="increase-size-1-span">+more</button></span>
                                <script>
                                    var count = 0;
                                    function sizeIncrease() {
                                        if (count == 0){
                                            document.getElementById('increase-size-1-paragraph').style.height = 'fit-content';
                                            document.getElementById('increase-size-1-span').innerHTML = '-less';
                                            count = 1;
                                        }else {
                                            document.getElementById('increase-size-1-paragraph').style.height = '8ch';
                                            document.getElementById('increase-size-1-span').innerHTML = '+more';
                                            count = 0;
                                        }
                                    }
                                </script>
                            </div>
                            <div class="col-lg-5">
                                <h1>Pros & Cons</h1>
                                <ul class="list">
                                    <li>Company has a low return on equity of 8.02% over last 3 years.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    </div>
                </div>
                <div id="item-4">
                    <div class="card">
                        <div class="card-body" >
                            <h5 class="card-title">News <span>/Today</span></h5>
                            <div class="search-wrapper mb-4" style="display: none;">
                                <label for="news-search">Search</label>
                                <input type="search" id="news-search" news-data-search>
                            </div>
                            <div class="news-card rounded-3" style="height: 440px; overflow: scroll;" data-news-cards-container></div>
                            <template data-news-template>
                                <div class="news-card" style="width: 96%;">
                                    <div class="row flex-row ">
                                        <div class="col-lg-3">
                                            <div class="news-image mt-2 mb-2 pe-2" data-image></div>
                                        </div>
                                        <div class="col-lg-8 mb-2">
                                            <div class="news-title fw-bold" data-title></div>
                                            <div class="news-description" data-description></div>
                                        </div>
                                    </div>
                                </div>
                            </template>                
                            <script>
                                const newsCardTemplate = document.querySelector("[data-news-template]")
                                const newsCardContainer = document.querySelector("[data-news-cards-container]")
                                const searchInput = document.querySelector("[news-data-search]")
                        
                                var apiKey = "6f10510f9e5f4795ac5382caf6219c31";
                                var url = "https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=" + apiKey;
                        
                                let articles = []
                                searchInput.addEventListener("input", e => {
                                    const value = e.target.value.toLowerCase()
                                    articles.forEach(article => {
                                        const isVisible = (article.title?article.title:'').toLowerCase().includes(value) || (article.description?article.description:'').toLowerCase().includes(value)
                                        article.element.classList.toggle("hide", !isVisible)
                                    })
                                })
                        
                                fetch(url).then(res => res.json()).then(data => {
                                    articles = Object.values(data.articles).map(news => {
                                        const newsCard = newsCardTemplate.content.cloneNode(true).children[0]
                                        const image = newsCard.querySelector("[data-image]")
                                        console.log(image)
                                        const title = newsCard.querySelector("[data-title]")
                                        const description = newsCard.querySelector("[data-description]")
                                        image.innerHTML = "<img src=\"" + (news.urlToImage?news.urlToImage:'https://via.placeholder.com/200x150?text=No+Image') + "\" class=\"rounded-pill\" width=\"100px\" height=\"100px\">"
                                        title.textContent = news.title
                                        description.textContent = news.description
                                        newsCardContainer.append(newsCard)
                                        return { title: news.title, description: news.description, element: newsCard }
                                    });
                        
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
    <!-- Footer -->
    <footer class="bottom">
        <ul class="nav justify-content-center border-bottom mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 Get Rich Quick, Inc</p>
    </footer>

    <!-- JS Files -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="../static/assets/vendor/quill/quill.min.js"></script>
    <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/js/main.js"></script>

</body>
</html>