<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div>
            <img src="./static/assets/img/financial-profit.png" class="img-fluid" style="width: 1.3cm;">
            <a class="navbar-brand mx-2">Get Rich Quick</a>
          </div>
          <div class="d-flex mx-2" role="group" aria-label="Basic example">
            <a href="pages-login.html" type="button" class="btn btn-outline-primary mx-2">Log in</a>
            <a href="pages-register.html" type="button" class="btn btn-outline-success">Register</a>
          </div>  
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="./static/assets/img/test.webp" class="img-fluid" >
        </div>
        <div class="col pt-5 mt-5">
          <h2>Make informed investment decisions with confidence, thanks to our comprehensive stock market analysis and timely asset recommendations.</h2>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom py-2 my-2">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>